<html lang="en" ng-app="authApp">
<head>
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-cookies.js"></script>

<div class="container" ng-controller="ctrl">
    <form name="auth" ng-submit="submitMyForm()">
        <span class="singUp">Log In</span><br><br><br>
        <p class="butt" style="text-align: center"><label for="useremail">E-mail </label>
            <input id="useremail" name="useremail" type="email" ng-model="fields.useremail" placeholder="E-mail"/>
        </p>

        <p class="butt" style="text-align: center"><label for="password">Password </label>
            <input id="password" name="password" type="password" ng-model="fields.password" placeholder="Password"/>
        </p><br>

        <p style="text-align: left">
            <input id="c1" ng-model="check.admin" class="checkbox" type="checkbox" ng-init="check.admin=false"/>
            <label for="c1">Log in as admin</label>
        </p><br>
        <span style="justify-content: center;display: flex;">
            <button class="submit" type="submit"> Log In</button>
        </span>
    </form>
</div>
</body>
<script>
    var app = angular.module('authApp', ['ngCookies']);
    app.controller('ctrl',
            ['$scope', '$http', '$window', '$cookies', function ($scope, $http, $window, $cookies) {

              /*  var token = $cookies.get('token');
                if (token != null && token != "" && token.indexOf('$2a$10$') != -1) {
                    $http({
                        method: "GET",
                        url: "http://0.0.0.0:4567/sec/admin/" + $cookies.get('adminId'),
                        headers: {'Authorization': $cookies.get('token')}
                    }).then(function success(response) {
                        //Welcome back, <response.data.firstname>!;
                        $scope.admin = response.data.firstname;

                        if (response.data.toString().indexOf('NotAdminException') !== -1)
                            $window.location.href = "/html/home.html";
                    }, function exception(response) {
                        console.log('ERROR = ' + response);
                        alert('Server error!');
                    });
                    $window.location.href = "/html/home.html";
                }*/

                $scope.submitMyForm = function () {
                    var url;
                    var checkbox = $scope.check.admin;
                    if (checkbox) {
                        url = "http://0.0.0.0:4567/auth/adm";
                    } else url = "http://0.0.0.0:4567/auth";

                    var data = angular.toJson($scope.fields);

                    $http({
                        method: "POST",
                        url: url,
                        dataType: 'json',
                        data: data
                    }).then(function success(response) {

                        var res = response.data.toString();

                        if (url.indexOf('adm') !== -1) {
                            if (res.indexOf('UnauthorizedException') !== -1)
                                alert("admin Неправильний email або пароль!");
                            else if (res.indexOf('NotAdminException') !== -1)
                                alert("Ви не адміністратор!");
                            else {
                                $cookies.put('token', response.headers('Authorization'));
                                $cookies.put('adminId', response.headers('AdminId'));
                                $cookies.put('userId', response.headers('UniqueId'));
                                $window.location.href = '/html/home.html';
                            }
                        } else {
                            if (res.indexOf('UnauthorizedException') !== -1)
                                alert("Not correct email or password!");
                            else {
                                $cookies.put('token', response.headers('Authorization'));
                                $cookies.put('adminId', null);
                                $cookies.put('userId', response.headers('UniqueId'));
                                $window.location.href = '/html/home.html';
                            }
                        }
                    }, function exception(response) {
                        console.log("ERROR = " + response.statusText);
                        alert("Server error!");
                    });
                };
            }]);

</script>
</html>